html, body {
    margin: 0 auto;
    padding: 0 auto;
    height: 100vh;
}

#root, .App {
    height: 100%;
}

#appContainer {
    display: flex;
    height: 100%;
}

/* Sidebar nav */

#navBarContainer div {
    width: 15em;
}

#navBar {
    display: flex;
    justify-content: flex-start;
    border: none;
    height: 100%;
}

/* Login Screen */

#Login {
    height: 100%;
    display: flex;
    justify-content: center;
}

#login-header {
    margin-top: 10%;
}